.PostContainer {
  width: 100%;
  max-height: 400px;
  border-bottom: 1px solid #41414148;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fotoUsuario {
  height: 100%;
  padding: 16px;
}

.imgPerfil {
  border-radius: 54px;
  width: 64px;
  height: 64px;
}

.containerTextArea {
  padding-top: 16px;
  padding-bottom: 16px;
}

.containerTextArea textarea {
  background-color: transparent;
  width: 34vw;
  max-height: 300px;
  resize: none;
  border: none !important;
  outline: none;
  font-size: 1.8rem;
  padding-top: 8px;
  padding-left: 8px;
  color: #ffffff;
  font-weight: lighter;
}

.textAct::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

.textAct::-webkit-scrollbar-track {
  background: var(--color-blue); /* color of the tracking area */
}
.textAct::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-light); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-blue); /* creates padding around scroll thumb */
}

.containerEnviarIcon {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 12px;
}
.containerIcon {
  padding-right: 12px;
}
.containerEnviar {
  padding-right: 12px;
}
.active {
  width: 80px;
  height: 40px;
  border-radius: 16px;
  font-size: 1.6rem;
  border: none;
  background-color: var(--color-blue-light);
  color: #ffffff;
}

.desactive {
  width: 80px;
  height: 40px;
  border-radius: 16px;
  font-size: 1.6rem;
  border: none;
  background-color: #21333f5d;
  color: #ffffff;
}
