.containerRegister {
  position: relative;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: center; */
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 40px;
  overflow: hidden;
  /* border: 1px solid white; */
  -webkit-box-shadow: 0px 0px 39px 18px var(--color-blue-light);
  -moz-box-shadow: 0px 0px 39px 18px var(--color-blue-light);
  box-shadow: 0px 0px 39px 18px var(--color-blue-light);
}

.containerRegister::before {
  content: "";
  position: absolute;
  width: 120vw;
  height: 420px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #07a5cc
  );
  animation: animate 4s linear infinite;
}

.containerRegister::after {
  content: "";
  position: absolute;
  width: 120vw;
  height: 420px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #07a5cc
  );
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.containerRegister .spanContainer {
  position: absolute;
  inset: 5px;
  background-color: var(--color-blue);
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containerLogo {
  width: 50%;
  margin: auto 0;
  text-align: center;
  z-index: 1;
}
.containerLogo img {
  width: 100%;
  min-height: 730px;
  object-fit: cover;
}

.containerForm {
  width: 50%;
  /* background-color: var(--color-blue-light); */
  display: flex;
  align-items: center;
  z-index: 1;
}

.form {
  width: 15vw;
  margin: 0 auto;
  text-align: center;
}

.containerLogoForm {
  padding-bottom: 12px;
}

.textLogo {
  font-family: "Lobster Two", cursive;
  font-weight: bold;
  font-size: 3.6rem;
  color: var(--color-white);
  padding-left: 12px;
}

.containerInputLabel {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.labelRegister {
  padding-bottom: 6px;
  font-size: 2rem;
  color: var(--color-white);
}

.inputRegister {
  padding-left: 4px;
  height: 32px;
  outline: none;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid var(--color-blue-light);
  background-color: transparent;
  color: var(--color-white);
}

.inputRegister:focus {
  -webkit-box-shadow: -1px 10px 5px -4px var(--color-blue);
  -moz-box-shadow: -1px 10px 5px -4px var(--color-blue);
  box-shadow: -1px 10px 5px -4px var(--color-blue);
}

.containerButtons button {
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.buttonRegister {
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1.6rem;
  -webkit-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
}

.buttonIniciar {
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-white);
  color: var(--color-blue);
  font-size: 1.6rem;
  -webkit-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
}

.containerButtons button:hover {
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
}

.span {
  height: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 3px;
  color: rgb(245, 75, 75);
}
