.containerRegister {
  display: flex;
  justify-content: center;
}
.containerLogo {
  width: 50%;
  margin: auto 0;
  text-align: center;
}

.containerForm {
  width: 50%;
  height: 100vh;
  background-color: var(--color-blue-light);
  display: flex;
  align-items: center;
}

.form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.containerLogoForm {
  padding-bottom: 12px;
}

.textLogo {
  font-family: "Lobster Two", cursive;
  font-weight: bold;
  font-size: 3.6rem;
  color: var(--color-white);
  padding-left: 12px;
}

.containerInputLabel {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.labelRegister {
  padding-bottom: 6px;
  font-size: 2rem;
  color: var(--color-white);
}

.inputRegister {
  padding-left: 4px;
  height: 32px;
  outline: none;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid var(--color-blue);
  background-color: transparent;
  color: var(--color-white);
}

.inputRegister:focus {
  -webkit-box-shadow: -1px 10px 5px -4px var(--color-blue);
  -moz-box-shadow: -1px 10px 5px -4px var(--color-blue);
  box-shadow: -1px 10px 5px -4px var(--color-blue);
}

.buttonRegister {
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1.6rem;
  -webkit-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75);
}
