.containerCard {
  position: relative;
  z-index: -1;
  background-color: #1a2433;
  border-radius: 12px;
  height: 330px;
  margin: 8px;
}
.imgBanner {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.containerLogo {
  width: 250px;
  position: absolute;
  top: 60px;
  padding-left: 18px;
}

.containerLogo img {
  border-radius: 58px;
  width: 120px;
}
.containerName {
  position: absolute;
  top: 190px;
  padding-left: 12px;
}

.containerName h1 {
  color: var(--color-white);
  font-size: 1.6rem;
}

.containerDescription {
  position: absolute;
  top: 224px;
  padding-left: 12px;
}
.containerDescription h2 {
  color: var(--color-grey);
  font-size: 1.4rem;
}

.containerFollow {
  position: absolute;
  top: 280px;
  padding-left: 12px;
  right: 40px;
  cursor: pointer;
}

.containerFollow button {
  width: 120px;
  height: 30px;
  border: 1px solid #225096;
  border-radius: 28px;
  background-color: transparent;
  color: #225096;
  font-size: 1.6rem;
  cursor: pointer;
}
