.bg {
  background-color: var(--color-blue);
  border-right: 1px solid #41414148;
}

.navBar {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0.1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.containerLogo {
  margin-bottom: 60px;
}
.containerTextLinkLogo {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-top: 12px;
}

.textLogo {
  font-family: "Lobster Two", cursive;
  font-weight: bold;
  font-size: 2.6rem;
  color: #ffffff;
  padding-left: 12px;
}

.flexNav {
  flex-grow: 1;
}

.navBarNav li {
  margin-top: 12px;
}

.containerTextLinkNav {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.1s ease-in;
  font-size: 2rem;
}

.navBarNav .containerTextLinkNav:hover {
  background-color: #40516925;
  border-radius: 8px;
  color: #ffffff;
}

.imgLogo {
  width: 32px;
  height: 32px;
}

.containerTextLinkNav .textIcon {
  margin: 0;
  padding-left: 16px;
  font-size: 2rem;
  color: #ffffff;
}

.containerInfoUser {
  margin-left: 10px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 50px;
}
.containerInfoUser:hover {
  background-color: #40516925;
}

.ContainerFotoUsuario {
  display: flex;
  align-items: center;
}

.imgPerfil {
  border-radius: 54px;
  width: 64px;
  height: 64px;
}

.containerNameUserNavBar {
  padding-left: 12px;
}
.containerNameUserNavBar h2 {
  color: var(--color-white);
  font-size: 1.6rem;
}
.containerNameUserNavBar h3 {
  color: var(--color-grey);
  font-size: 1.4rem;
}

@media screen and (max-width: 1410px) {
  .containerTextLinkLogo {
    flex-direction: column;
  }
}
