* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-blue);
}

body::-webkit-scrollbar {
  width: 16px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-blue);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-light);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--color-blue);  /* creates padding around scroll thumb */
}
