* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 70vw;
  margin: 0 auto;
}

body {
  background-color: var(--color-blue);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--color-blue);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-light);
  border-radius: 20px;
  border: 3px solid var(--color-blue);
}
