.containerPost {
  padding: 16px;
  border-bottom: 1px solid #41414148;
}

.containerUserContent div {
  padding-bottom: 12px;
}

.imgUser {
  width: 34px;
  height: 34px;
}

.nameUser {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffffda;
  font-family: var(--font-poppins);
}

.contentPost {
  font-size: 1.4rem;
  color: #ffffffbb;
  padding-left: 24px;
  font-family: var(--font-poppins);
  line-height: 2.4rem;
}
.containerReactions {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.containerReactions div {
  padding-right: 12px;
  padding-left: 12px;
}

.textReactions {
  color: #fff;
}
