.containerPost {
  padding: 16px;
  border-bottom: 1px solid #41414148;
  padding-right: 20px;
}

.containerUserContent {
  display: flex;
}

.imgUser {
  width: 64px;
  height: 64px;
  border-radius: 58px;
}

.content {
  margin-bottom: 16px;
}

.linkNameUser {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 8px;
  text-decoration: none;
}

.linkNameUser:hover{
  color: var(--color-white);
}

.arroba {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-grey);
}
.contentPost {
  font-size: 1.4rem;
  color: var(--color-white);
  padding-left: 8px;
  padding-top: 2px;
  font-weight: 400;
  line-height: 2.4rem;
}

.flexImgs {
  display: grid;
  grid-template-columns: 1fr;
  /* width: 100%; */
}
.imgContent {
  width: 100%;
  max-width: 660px;
  min-height: 320px;
  max-height: 350px;
  border-radius: 18px;
  object-fit: cover;
}
.containerReactions {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.containerReactions div {
  padding-right: 12px;
  padding-left: 12px;
}

.textReactions {
  color: var(--color-grey);
}
